repos:
  - repo: https://github.com/psf/black
    rev: stable
    hooks:
      - id: black
        language_version: python3.7
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v2.2.0
    hooks:
        - id: commitlint
          stages: [commit-msg]
  - repo: https://github.com/PyCQA/pylint
    rev: 'pylint-2.4.4'
    hooks:
      - id: pylint
