[build-system]
requires = ["poetry>=1.0.5"]
build-backend = "poetry.masonry.api"

[tool.poetry]
name = "stjudecloud-oliver"
version = "1.4.0"
description = "An opinionated Cromwell orchestration system"
license = "MIT"
authors = [
  "Clay Mcleod <clay.mcleod@STJUDE.org>",
  "Jobin Sunny <jobin.sunny@STJUDE.org>",
  "Andrew Thrasher <andrew.thrasher@STJUDE.org>",
  "Andrew Frantz <andrew.frantz@STJUDE.org"
]
readme = "README.md"
homepage = "https://stjudecloud.github.io/oliver/"
repository = "https://github.com/stjudecloud/oliver"
documentation = "https://stjudecloud.github.io/oliver/"
keywords = [
    "bioinformatics",
    "genomics",
    "workflows",
    "cromwell"
]
classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent",
    "Development Status :: 5 - Production/Stable",
    "Topic :: Scientific/Engineering :: Bio-Informatics",
]
packages = [
    { include = "oliver" }
]
include = [
    "*.txt",
    "*.md"
]

[tool.poetry.scripts]
oliver = "oliver.__main__:main"

[tool.poetry.dependencies]
python = ">=3.6 <3.8"
aiohttp = "^3.6.2"
azure-cosmos = "^3.1.2"
boto3 = "^1.11.9"
logzero = "^1.5.0"
pendulum = "^2.0.5"
requests = "^2.22.0"
tabulate = "^0.8.6"
tzlocal = "^2.0.0"
python-semantic-release = "^5.0.0"
mypy_boto3_batch = "^1.12.21"
mypy_boto3_logs = "^1.12.21"

[tool.poetry.dev-dependencies]
mkdocs = "1.0.4"
mkdocs-bootswatch = "1.0"
pylint = "^2.4.4"
pytest = "^5.3.5"
pytest-asyncio = "^0.10.0"
pytest-cov = "^2.8.1"
python-semantic-release = "^5.0.0"
wheel = "^0.34.0"
mypy = "^0.761"
mypy-boto3 = {extras = ["batch", "logs"], version = "^1.12.17"}
boto3-stubs = "^1.12.17"

[tool.semantic_release]
version_variable = "pyproject.toml:version"
version_source = "commit"
commit_subject = "chore: bumping version to v{version}"
commit_message = ""
commit_author = "St. Jude Cloud <support@stjude.cloud>"
build_command = "poetry build"
upload_to_release = "false"
# check_build_status = true

[tool.black]
target-version = ['py36', 'py37', 'py38']
